*{
    margin: 0;
   
}
html {
  scroll-behavior: smooth;
  
}
.container{
    max-width: 800px;
    padding: 20px;
    color: #2a363b;
   
    
  }
  p{
    font-size: 25px;


  }
  
  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }
  
  .container-nav {
    display: inline;
    padding-top: 30px;
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed ;
    overflow: hidden;
    z-index: 100;
   
  }
  
  
  
  
  
  
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 15px;
  }
  
  
  
  
  
  
  
  
  .brand {
    display: flex;
    align-items: center;
    text-shadow: 80px;
    text-transform: capitalize;
    text-shadow: color white;
  }
  
  
  
  
  
  
  
  
  li>a {
    padding: 8px 24px;
    transition: transform 0.3s;
    margin: 3px;
  }
  .nav-links li:hover{
    transform:scale(1.1) ;
  }


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  a {
    color: white;
    text-decoration:none;
  }
  
  
  
  
  
  
  
  
  .nav-links {
    display: flex;
    align-items: center;
    margin-right: 35px;
    margin-left: 33px;
    list-style: none;
  }
  
  
  
  
  
  
  
  
  .button-menu-toggle {
    display: none;
  }
 
  
  
  
  
  
  
  
  
  
    
  
  
  
  .primerseccion{
    width: 1670px;
    line-height: 1.5;
 
  
  }

  .imagenCircular{
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: transform 0.3s;

  }
  .imagenCircular:hover{
    transform: scale(1.1)
  }
  .contenedorImagen {
    display: flex;
    justify-content: center;
    align-items: center;
  width: 100%;
    height: 250px; 
    margin-left: 400px;
  }
  .segundaseccion{
    width: 1670px;
    line-height: 1.5;
  }
  
  .terceraseccion{
    width: 1670px;
    line-height: 1.5;
    
  }

  .cuartaseccion{
    width: 1670px;
    line-height: 1.5;
  }
  .listaseccion3{
    font-size: 22px;

  }
  .listaseccion4{
    font-size: 22px;
    padding-top: 23px;

  }
  footer{
    background-color: rgb(0, 0, 0);
    padding: 40px;
    display: flex;
    color: blanchedalmond;
    text-align: justify;
    
    
  }
  .footerp{
    font-size: 16px;
    margin: 5px;
  }
  .container{
    padding-top: 80px;
    margin-left: 100px;
  }
  body{
  font-family: Arial, Helvetica, sans-serif;
  
  
  
  
  }
  h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 40px;
    width: 1200px;
    text-align: left;
   font-size: 60px;
   padding-bottom: 100px;
   padding-top: 60px;
  }

  h2{
   
    padding-bottom: 45px;
    font-size: 30px;
  }
  h3{
    padding: 10px;
    font-size: 27px;
  }
  #SECCION2{
    padding-top: 50PX;

  }

  #SECCION3{
    padding-top: 50PX;

  }
  #SECCION4{
    padding-top: 50PX;

  }
  #fondovideo{
    position: fixed;
    min-width: 100%;
    align-items: left;
    margin-left: -120px;
    z-index: -10;
    width: 100%;
    margin-left: 800;
  }

.BYY{
  margin-left: 100px ;
  margin-right: 100px ;
  width: 500PX;
}

/* SOBRE EL PROYECTO */
.navbarr {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 15px;
  font-size: 25px;
 
}

.mainproyecto{
  line-height: 2;
  margin-left: 150px;
  margin-right: 150px;
  color: #2a363b;
  padding-top: 130px;
}
#ppp{
  font-size: 20px;
  padding-bottom: 20px ;
  padding-top: 20px ;
}
#ppp2{
  font-size: 20px;
  padding-top: 20px ;
  padding-bottom: 20px ;

}
#ppp3{
  font-size: 20px;
  padding-top: 20px ;
  padding-bottom: 20px ;
  text-align: center;
}
/* RESPONSIVE*/
@media (max-width: 908px) {

  *{
    margin: 0;
  }
  body{
    width: 100%;
  }
  .nav-links {
    display: none;
}

.nav-links.nav-links-responsive{
    position: absolute;
    display: flex;
  background-color: rgba(20,20,20,0.95);
  width: 100%;
  height: 100%;
   top: 70px;
  left: 0;
  flex-direction: column;
  padding-top: 200px;
  padding-left: 0;
  align-items: center;
  gap:60px;
  font-size: 40px;
}

.button-menu-toggle {
  display: block;
background-color: white;
border: none;
border-radius: 50px;
padding: 0px 20px;
font-weight: bold;
padding-right: 20px;
  
}
}
